# Note: set variables in .config/chezmoi/chezmoi.toml,
#  using the header [data] and the same format as this file!
[user]
	name = {{ .name }}
	email = {{ .email }}

[init]
	defaultbranch = main

[pull]
	ff = only

[merge]
	ff = only

[color "diff"]
        new = cyan
