#!/usr/bin/env bash

set -e

{{ if eq .chezmoi.osRelease.id  "bluefin" -}}
# Install packages with Brew
brew update
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.bluefin.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
